@import "color.scss";
$menuItemHeight : 70px;
$pageHeightWithBot: 1653px;
$pageHeightFull: 1820px;
.cando {
	 background: url('../images/purpleBG.png') 0 0 no-repeat;
	 height: $pageHeightFull;
	 padding-top: 100px;
	 h1 {
	 	text-align: left;
	 	font-size:148px;
	 	padding-top: 6rem;
	 	margin-bottom: 0;
	 	padding-bottom: 0;
	 	
	 }
	 h2 {
	 	color:$blue;
	 	font-size:27px;
	 	font-family: "Avenir Next LT W01 Demi";
	 	text-align: center;
	 	text-transform: uppercase;
	 	margin-top: 10px;
	 	padding-top: 0;
	 	margin-bottom: 6rem;
	 	
	 }
	
	 .heroText {
	 	 p {
	 	padding-top: 11.4rem;
	 	font-size: 28px;
	 	line-height: 1.3em;
	 }
	 h1 {
	 	float: left;
	 	width:205px;
	 }
	 h2 {
	 	float: left;
	 	width:100%;
	 }
	 }

	 .blueMenu {
	 	
	 	
	 	.item {
	 		width:20%;
	 		text-align: center;
	 		padding: 0;
	 		padding-top: 27px;
	 		background:$blue;
	 		height:$menuItemHeight;
        	box-shadow: inset 5px 0 7px -5px rgba(0, 0, 0, 0.4);
        	font-size:16px;
        	text-transform: uppercase;
        	&.active {
        		background:$pink;
        	}
        	&:first-child {
        		box-shadow: none;
        	}
        	&.two-lines {
        		padding-top: 16px;
        	}
	 	}
	 }
	 .focusArea {
	 	height: 750px;
	 	
	 	background-size: 100% !important;
	 	width:100%;
	 	.hotspot {
	 		position: absolute;
	 	}
	 }
	 .description {
	 	display: none;
	 	background:$pink;
	 	padding: 30px 35px;
	 	border-radius: 5px;
	 	position: absolute;
	 	top:45px;
	 	left:43px;
	 	width:310px;
	 	z-index: 55;
	 	p {
	 		font-size:14px;
	 		font-family: "Museo Slab W01_100";
	 	}
	 	h3 {
	 		 font-family: "AvenirNextLTW01-Regular";
	 		 text-transform: uppercase;
	 	}
	 	&.left {
	 		left:-260px;
	 		img {
	 			right:-25px;
	 			left:auto;
	 		}
	 	}
	 	&.topRight {
	 		top:-100px;
	 		left:43px;
	 		img {
	 			top:116px;
	 		}
	 	}
	 	h3 {
	 		margin-top: 0;
	 	}
	 	img {
	 		position: absolute;
	 		top:-30px;
	 		left:-26px;
	 	}
	 }
	 .hotspot {
	 	&.active {
	 		.description {
	 			display: block;
	 		}
	 	}
	 }
	 .sectionDetails {
	 	padding-left:50px;
	 	min-height: 280px;
	 	h3 {
	 		color: white;
	 		font-size:40.5px;
	 		font-family: "AvenirNextLTW01-Regular";
	 		margin-top: 3px;
	 		margin-bottom: 30px;
	 	}
	 	h4 {
	 		color: $blue;
	 		font-size:19px;
	 		margin-bottom: 3px;
	 		margin-top: 80px;
	 	}
	 	p {
			font-family: "Museo Slab W01_100";
			font-size:18px;
	 	}
	 	.addPadding {
	 		padding-right:15px;
	 	}
	 }
	
	.icon {
		float: left;
		 margin-left:19px;

		// &:before {
		// 	content:'+';
		// 	font-size:26px;
		// 	color: rgba(255,255,255,.38);
		// 	position: relative;
		// 	top:38px;
		// 	left:-11%;
		// 	font-family: "AvenirNextLTW01-UltraLi";
		// 	line-height: 0;
		// 	display: block;
		// }
		&:first-child {
			margin-left: 0;
			&:before {
				content:'';
			}
		}
		.iconBlock {
			position: relative;
			.iconInner {
			position: absolute;
			top:0;
			left:0;
			}
		}
	}
	.candoButton {
		margin:0 auto;
		margin-top: 90px;
		width:100%;
		 font-family: "AvenirNextLTW01-Regular";
		 font-size:24px;
		 text-align: center;
		 text-transform: uppercase;
		 height: 53px;
		 .whiteArrow {
		 	width:15px;
		 }
	}
}