@import "bourbon.scss";


$blue : #0197cf;
$navBlue : #3299c9;
$footerBlue : #02a9e1;
$getStarted : #319acc;

$pink : #e1185c;

$grey : #6a6b6d;
$lightGrey : #f0efeb;

.white {
	fill:white;
	svg {
		fill:white;
	}
}