@import "color.scss";
@import "bourbon";
$pageHeightWithBot: 1653px;
$pageHeightFull: 1820px;
.faq {
	background: url('../images/faqBG.png') 0 -0px no-repeat;
	padding-top: 170px;
	height: $pageHeightFull;
	background-size: 100%;

	h1 {
		color: $getStarted;
		font-size: 9em;
		margin-bottom: 7rem;
	}
	h2 {
		padding-top: 25px;
		padding-bottom: 20px;
		font-size: 45px;
		margin: 0;
		text-align: center;
		background:#319bcd;
		padding-left: 1.5em;
		padding-right: 1.5em;

	}
	h3 {
		color: $pink;
		font-family: "AvenirNextLTW01-Regular";
	}
	p {
		padding-top: 1.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		font-family: "AvenirNextLTW01-Regular";
		font-size: 1.8em;
	}
	ul {
		padding-left:4rem;
		padding-right: 2rem;
		padding-top: 1.5rem;
		li {
			font-size:1.25em;
		}
	}
	.podContainer {
		height: 1000px;
		overflow: hidden;
	}
	.faqPod {
		
		background-color: #02a9e1;
		height: 500px;
		margin-bottom: 25px;
		position: relative;
	}
	.arrow {
		position: absolute;
		margin-left: 3rem;
		opacity: 1;
		&.inactive {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: .4;
		}
		&.upArrow {
			top: 0;
		}
		&.downArrow {
			bottom: 0;
			@include transform(rotate(180deg));
		}
	}
}