@import "color.scss";
.started {
	background: url('../images/getStarted3.png') 0 -0px no-repeat;
	// background-color: $getStarted;
	padding-top: 100px;
	height: $pageHeightWithBot;
	background-size: 100%;
	h1 {
		font-size:7em;
	}
	p {
		font-size: 1.97em;
	}
}

.startedBtn {

}