<div class="background {{bodyClass}}" >
<div class="container">

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>A Smarter Way to Live.</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p>Iris is a simple, customizable smart home system by Lowe&#8217;s. Iris connects all of your smart devices, like lights, locks or your thermostat, to a single app and allows you to control and monitor them all. </p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center house_diagram">
		<a href="#/cando" class="button">What can Iris do? <span class="whiteArrow">
				<object type="image/svg+xml" data="images/smallWhiteArrow.svg" class="arrow">
				<!-- fallback image in CSS -->
				</object>
				
			</span></a>
	</div>
</div>


</div>
</div>
