<div class="background {{bodyClass}}" >
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>Frequently asked questions.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-1 podContainer">
				<div class="row faqPod" ng-style="{'top': podPosition}" >
					<div class="col-md-12">
						<h2>What is Home Automation or Smart Home?</h2>
						<p>The use of the Internet to automate and control the devices in your home for improved comfort, energy efficiency and security.</p>
					</div>
				</div>
				<div class="row faqPod" ng-style="{'top': podPosition}" >
					<div class="col-md-12">
						<h2>What is Iris?</h2>
						<p>Iris is a simple, customizable home automation system by Lowe's. Iris lets you manage your smart devices from a single app, giving you control, whether you’re home or away.  Great for home owners or renters!</p>
					</div>
				</div>
				<div class="row faqPod" ng-style="{'top': podPosition}">
					<div class="col-md-12">
						<h2>Why should I buy Iris over other systems?</h2>
						<ul>
							<li>Iris by Lowe’s offers a wide breadth of products with over 50 devices.</li>
							<li>Iris is FREE for basic use and has a premium service as well to create rules between devices. (turn on your lights when the motion detector senses movement)</li>
							<li>DIY – Create the system you want, grow it over time.</li>
							<li>No long-term commitments with month-to-month service.</li>
							<li>Value priced products from nationally recognized brands.</li>
							<li>Iris devices are wireless which allows for easy portability.</li>
						</ul>
					</div>
				</div>
				<div class="row faqPod" ng-style="{'top': podPosition}" >
					<div class="col-md-12">
						<h2>What do I need?</h2>
						<ul>
							<li>Iris Hub</li>
							<li>Smartphone</li>
							<li>Broadband Internet</li>
							<li>Router or modem</li>
							<li>Iris compatible products</li>
						</ul>
					</div>
				</div>
				<div class="row faqPod" ng-style="{'top': podPosition}">
					<div class="col-md-12">
						<h2>How do I get started?</h2>
						<p>Getting started is easy. Purchase an Iris hub, download the app and connect your products.</p>
					</div>
				</div>
				<div class="row faqPod" ng-style="{'top': podPosition}" >
					<div class="col-md-12">
						<h2>Can I get Iris professionally installed?</h2>
						<p>Yes. Professional installation is available through our partner, InstallerNet (iris.installernet.com). Need an electrician? Plumber? Find a trusted professional for any job at porch.com.</p>
					</div>
				</div>
				<div class="row faqPod" ng-style="{'top': podPosition}" >
					<div class="col-md-12">
						<h2>Where can I learn more about Iris?</h2>
						<p>For more information, go to www.irisbylowes.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-3" style="height:1095px;">
				<img src="images/upArrow.png" height="75" width="76" alt="Up Arrow" class="upArrow arrow" ng-click="upClick()" ng-class="{inactive: upInactive }">
				<img src="images/upArrow.png" height="75" width="76" alt="Up Arrow" class="downArrow arrow" ng-click="downClick()" ng-class="{inactive: downInactive }">
			</div>
		</div>
	</div>
</div>
