<div class="container"><div class="background {{bodyClass}}" ng-class="{spanish : isSpanish}">
	<div class="row" ng-hide="isSpanish">
		<div class="col-md-10 col-md-offset-1"  >
			<h1>Ready to make life easier with Iris?</h1>
			<p style="padding-bottom:50px;">Look for the Iris logo across the store<br/>to find other Iris-compatible products. <img src="../images/worksWithIris.png" height="104" width="252" alt=""></p>
		</div>
		<img src="../images/startedHR1.png" height="44" width="171" alt="" class="hr">
	</div>
	<div class="row lightBlue productRow" ng-hide="isSpanish">
		<div class="col-md-10 col-md-offset-1" >
			<h2>GET YOUR HUB</h2>
			<img src="../images/whiteHub.png" height="249" width="500" alt="" class="productImg">
		</div>
		<img src="../images/startedHR2.png" height="44" width="171" alt="" class="hr">
	</div>
	<div class="row darkBlue productRow" ng-hide="isSpanish">
		<div class="col-md-10 col-md-offset-1" >
			<h2 style="padding-top:35px;">DOWNLOAD<br/>THE APP</h2>
			<img src="../images/appIcons.png" height="71" width="359" alt="">
			<img src="../images/phone.png" height="500" width="500" alt="" class="productImg" style="right:120px;">
		</div>
		<img src="../images/startedHR3.png" height="44" width="171" alt="" class="hr">
	</div>
	<div class="row productRow" ng-hide="isSpanish">
		<div class="col-md-10 col-md-offset-1" >
			<h2 style="padding-top:35px;">AND CONNECT<br/>YOUR DEVICES</h2>
			<img src="../images/productsAll.png" class="productImg" height="336" width="800" alt="" style="right:-20px;">
		</div>
	</div>
	<!-- SPANISH -->
	<div class="row" ng-show="isSpanish">
		<div class="col-md-10 col-md-offset-1" stlye="padding-bottom:100px;" >
			<h1>¿Ya está listo para que Iris haga su vida más fácil?</h1>
			<p>Busque el logotipo de Iris en toda<br/>la tienda para informarse sobre otros<br/>productos compatibles con Iris.<img src="../images/worksWithIris.png" height="104" width="252" alt=""></p>
		</div>
		<img src="../images/startedHR1.png" height="44" width="171" alt="" class="hr">
	</div>
	<div class="row lightBlue productRow" ng-show="isSpanish">
		<div class="col-md-10 col-md-offset-1" >
			<h2>Obtenga el<br/>terminal</h2>
			<img src="../images/whiteHub.png" height="249" width="500" alt="" class="productImg">
		</div>
		<img src="../images/startedHR2.png" height="44" width="171" alt="" class="hr">
	</div>
	<div class="row darkBlue productRow" ng-show="isSpanish">
		<div class="col-md-10 col-md-offset-1" >
			<h2 style="padding-top:35px;">Descargue<br/>la aplicación</h2>
			<img src="../images/appIcons.png" height="71" width="359" alt="">
			<img src="../images/phone.png" height="500" width="500" alt="" class="productImg" style="right:120px;">
		</div>
		<img src="../images/startedHR3.png" height="44" width="171" alt="" class="hr">
	</div>
	<div class="row productRow" ng-show="isSpanish">
		<div class="col-md-10 col-md-offset-1" >
			<h2 style="padding-top:35px;">Y conecte<br/>sus aparatos</h2>
			<img src="../images/productsAll.png" class="productImg" height="336" width="800" alt="" style="right:-20px;">
		</div>
	</div>
</div>
<div class="row" ng-hide="isSpanish">
	<div class="col-md-12 text-center startedBtn">
		<a href="#/faq"><img src="images/startedQuestions.png" height="167" width="1079" alt=""></a>
	</div>
</div>
<div class="row" ng-show="isSpanish">
	<div class="col-md-12 text-center startedBtn">
		<a href="#/faq_s"><img src="images/startedQuestions_s.png" height="167" width="1079" alt=""></a>
	</div>
</div>
</div>