<div class="background {{bodyClass}}" >
<div class="container">

<!-- <div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>Ready to make life easier with Iris?</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<p>Look for the Iris logo across the store <br/>to find other Iris-compatible products. </p>
	</div>
	<div class="col-md-5">
		<img src="../images/worksWithIris.png" height="104" width="252" alt="Works with Iris">
	</div>
</div> -->



</div>
</div>
<div class="row">
	<div class="col-md-12 text-center startedBtn">
		<a href="#/faq"><img src="images/startedQuestions.png" height="167" width="1079" alt=""></a>
	</div>
</div>
