<div class="background {{bodyClass}}" >
<div class="container">
<div class="row">
	<div class="col-md-12 homeAnimation">
		<img src="https://placeholdit.imgix.net/~text?txtsize=53&txt=ANIMATION&w=780&h=998" alt="">
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<a class="button homeButton" href="#/about">
			Touch to see what <br/>else iris can do
			<span class="whiteArrow">
				<object type="image/svg+xml" data="images/smallWhiteArrow.svg" class="arrow">
				<!-- fallback image in CSS -->
				</object>
				
			</span>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<object type="image/svg+xml" data="images/iris-white-logo.svg" class="homeLogo">
		<!-- fallback image in CSS -->
		</object>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<div class="button">Español</div>
	</div>
</div>
</div>
</div>