<div class="background {{bodyClass}}" >
	<div class="container" >
		<div class="row">
			<div class="col-md-12 homeAnimation">
				<video onended="this.play();" autoplay loop id="homeVideo" style="outline:none; width:100%;">
					<source src="media/stratoFinal_v2_3.ogv" type="video/ogg" />
					<source src="media/stratoFinal_v2_3.mp4" type="video/mp4" />
					<source src="media/stratoFinal_v2_3.webm" type="video/webm" />
					
				</video>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<a class="button homeButton" href="#/cando">
					Touch to see what else Iris can do
					<span class="whiteArrow">
						<object type="image/svg+xml" data="images/smallWhiteArrow.svg" class="arrow">
						<!-- fallback image in CSS -->
						</object>
						
					</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center greyLogo" >
				<img src="images/iris_grey.png" alt="" >
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<a class="button" href="#/cando_s">Español</a>
			</div>
		</div>
	</div>
</div>
