<div class="background {{bodyClass}}" >
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>Products tailored just for your home.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-4 productBlock" ng-repeat="product in products" ng-class="{blank : product.blank}" ng-click="setMaster(product)" >
						<div ng-if="product.icon">
							<img ng-src="images/product_cat/{{product.icon}}.png" alt="" class="block">
							<h4>{{product.title}}</h4>
						</div>
						<div ng-if="product.blank">
							<h4>{{product.title}}</h4>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
			<div class="col-md-12 productInfoBox" ng-repeat="product in products" ng-class="{active : isSelected(product)}" >
				<div class="back" ng-click="setMaster()">
				<img src="images/product_cat/backButton.png" height="58" width="161" alt="">
				</div>
				<div class=" productInfo">
					<img ng-src="images/product_cat/{{product.pic}}.png" alt="">
					<h2>{{product.title}}</h2>
					<h3>{{product.description}}</h3>
					<a href="#/getstarted"><img src="images/product_cat/started_btn.png" height="58" width="374" alt=""></a>
				</div>
				
			</div>
		
	</div>
</div>