<div class="background {{bodyClass}}" >
	<div class="container">
		<div class="row" ng-hide="isSpanish">
			<div class="col-md-10 col-md-offset-1" >
				<h1>Basic service is free. Upgrade to Premium for just <sup style="top:-.35em; font-size:65%;">$</sup>9.99 per month.</h1>
				<p>Choose from two levels of plans. The Basic Plan is free and allows you to control your devices from your Iris app. The Premium Plan provides advanced ways to monitor and control your home. It’s free for the first two months, then $9.99 per month (plus applicable taxes) with no contract.</p>
				<p class="details">For more information on plans and additional services, visit irisbylowes.com.</p>
			</div>
		</div>
		<div class="row" ng-show="isSpanish">
			<div class="col-md-10 col-md-offset-1">
				<h1 style="font-size:50px;">Amplíe sus opciones con el servicio de primera calidad por solo <sup style="top:-.35em; font-size:65%;">$</sup>9.99 al mes.</h1>
				<p>Elija entre dos niveles de planes. El plan básico es gratis y le permite controlar sus aparatos a través de la aplicación de Iris. El plan de primera calidad le brinda opciones avanzadas para monitorear y controlar su hogar. Es gratis por los dos primeros meses y luego tiene una tarifa de $9.99 al mes (más los impuestos correspondientes) sin necesidad de contrato.</p>
				<p class="details">Para más información sobre los planes y los servicios adicionales, visite irisbylowes.com.</p>
			</div>
		</div>
		<div class="row" ng-hide="isSpanish">
			<div class="col-md-10 col-md-offset-1" style="padding:0;">
				<div class="comparisonTable">
					<table class="comparisonTable-table" style="background:none;">
						<thead>
							<tr>
								<th class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" style="-webkit-border-top-left-radius: 5px;
									-moz-border-radius-topleft: 5px;
								border-top-left-radius: 5px;"></th>
								<th class="comparisonTable-row-caption"></th>
								<th class="comparisonTable-heading comparisonTable-col-1">
									<h3 class="plan-title">
									Basic Plan
									</h3>
									
								</th>
								<th class="comparisonTable-heading comparisonTable-col-2" style="-webkit-border-top-right-radius: 5px;
									-moz-border-radius-topright: 5px;
									border-top-right-radius: 5px;">
									<h3 class="plan-title">
									Premium Plan
									</h3>
									
								</th>
							</tr>
						</thead>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Control                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Control                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Turn devices on and off remotely                                </p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Schedule devices to turn on and off</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Stream video on your computer or smartphone                                </p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Security                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Security                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Receive a notification when an alarm or alert is triggered</p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								ACCOUNT HOLDER ONLY                                                    </td>
								<td class="plan-info comparisonTable-col-2">
								UP TO 6 PEOPLE                                                  </td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										View activity history log                                </p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								PREVIOUS 24 HOURS                                                    </td>
								<td class="plan-info comparisonTable-col-2">
								PREVIOUS 14 DAYS                                                  </td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Record video on demeand, or based on alarms or events                                </p>
										<aside class="plan-caption-item--info plan-caption-item">
											<!-- TODO: Would button be better for accessibility? Or to use ids? -->
											
										</aside>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Lock and unlock doors remotely</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Receive notifications when authorized users come and go</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Energy                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Energy                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Control your thermostat remotely                                </p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Personal</td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Personal </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
											Create rules across the system to have devices trigger other devices
										</p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Create scenes to control multiple devices with a single command</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Care                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Care                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Set rules for Iris to message you if loved ones' daily routines are out of the ordinary                                </p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tfoot>
						<tr>
							<td class="comparisonTable-table-body-title--desktop" style="-webkit-border-bottom-left-radius: 5px;
								-moz-border-radius-bottomleft: 5px;
							border-bottom-left-radius: 5px;"></td>
							<td></td>
							<td class="comparisonTable-foot-cell comparisonTable-col-1">
								<p class="plan-price">
									Free
								</p>
							</td>
							<td class="comparisonTable-foot-cell comparisonTable-col-2" style="-webkit-border-bottom-right-radius: 5px;
								-moz-border-radius-bottomright: 5px;
								border-bottom-right-radius: 5px;">
								<p class="plan-price">
									Free for 2 months
									<span class="plan-price--alt">
										Then $9.99/month
									</span>
								</p>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
		
		</div>
	</div>
	<div class="row" ng-hide="isSpanish">
		<div class="col-md-10 col-md-offset-1" style="padding:0;">
			<p style="font-size:16px; text-align:center;">We’re continuously improving and evolving the Iris Service Plans.
				Please visit IrisByLowes.com for the most up-to-date plan information
				and full terms and conditions.<br/> Broadband internet connectivity required for IRIS platform. Standard carrier and phone/text
			rates may apply. Limited basic service is free. Additional charges may apply.</p>
		</div>
	</div>
	<div class="row" ng-show="isSpanish">
		<div class="col-md-10 col-md-offset-1" style="padding:0;">
			<div class="comparisonTable">
					<table class="comparisonTable-table" style="background:none;">
						<thead>
							<tr>
								<th class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" style="-webkit-border-top-left-radius: 5px;
									-moz-border-radius-topleft: 5px;
								border-top-left-radius: 5px;"></th>
								<th class="comparisonTable-row-caption"></th>
								<th class="comparisonTable-heading comparisonTable-col-1">
									<h3 class="plan-title">
									Plan Básico
									</h3>
									
								</th>
								<th class="comparisonTable-heading comparisonTable-col-2" style="-webkit-border-top-right-radius: 5px;
									-moz-border-radius-topright: 5px;
									border-top-right-radius: 5px;">
									<h3 class="plan-title">
									Plan De Primera Calidad
									</h3>
									
								</th>
							</tr>
						</thead>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Control                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Control                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Encienda y apague sus aparatos de manera remota                             </p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Programe el encendido y apagado de sus aparatos</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Transfiera videos a su teléfono inteligente                            </p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								SEGURIDAD                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										SEGURIDAD                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Reciba una notificación cuando se active una alarma o alerta</p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								Solo el titular de la cuenta
                                                 </td>
								<td class="plan-info comparisonTable-col-2">
								Hasta 6 personas
                                             </td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Revise el historial de actividades                              </p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								Las últimas 24 horas                                                 </td>
								<td class="plan-info comparisonTable-col-2">
								Los últimos 14 días                                            </td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Grabe videos según los comandos, o a partir de las alertas y sucesos</p>
										<aside class="plan-caption-item--info plan-caption-item">
											<!-- TODO: Would button be better for accessibility? Or to use ids? -->
											
											
										</aside>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
									Abra y cierre las puertas de manera remota</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Reciba una notificación de la entrada y la salida de los usuarios autorizados</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
							ENERGÍA  </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										ENERGÍA     </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Controle su termostato de manera remota    </p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								Personal</td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										Personal </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
											Cree interconexiones en todo el sistema para que unos aparatos activen a otros
										</p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
							<tr>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Cree “escenas” para controlar múltiples aparatos con un solo comando</p>
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
							<tr class="comparisonTable-table-body-title--mobile comparisonTable-table-body-title">
								<td colspan="4">
								CUIDADO                        </td>
							</tr>
							<tr>
								<td class="comparisonTable-table-body-title--desktop comparisonTable-table-body-title" rowspan="99">
									<div class="comparisonTable-title-wrap">
										<span class="comparisonTable-title--rotate">
										CUIDADO                                </span>
									</div>
								</td>
								<td class="comparisonTable-row-caption">
									<div class="plan-caption">
										<p class="plan-caption-item">
										Establezca reglas para que Iris le envíe un mensaje si las rutinas diarias de sus seres queridos están fuera de lo normal</p>
										
									</div>
								</td>
								<td class="plan-info comparisonTable-col-1">
								</td>
								<td class="plan-info comparisonTable-col-2">
									<svg xmlns="http://www.w3.org/2000/svg" id="check.svg" viewBox="0 0 15.7 11.1" preserveAspectRatio="xMinYMin" width="15.7" height="11.1">
										<style>.st0{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
										</style>
										<path class="st0 shape" d="M14.7 1l-9.1 9.1L1 5.6">
										</path>
									</svg>
								</td>
							</tr>
						</tbody>
						<tbody class="comparisonTable-table-body">
						<tr style="width:100%; border-top:1px #7d7d7d solid; z-index:999; position:absolute;"></tr>
						</tbody>
						<tfoot>
						<tr>
							<td class="comparisonTable-table-body-title--desktop" style="-webkit-border-bottom-left-radius: 5px;
								-moz-border-radius-bottomleft: 5px;
							border-bottom-left-radius: 5px;"></td>
							<td></td>
							<td class="comparisonTable-foot-cell comparisonTable-col-1">
								<p class="plan-price">
									Gratis
								</p>
							</td>
							<td class="comparisonTable-foot-cell comparisonTable-col-2" style="-webkit-border-bottom-right-radius: 5px;
								-moz-border-radius-bottomright: 5px;
								border-bottom-right-radius: 5px;">
								<p class="plan-price">
									Gratis por 2 meses
									<span class="plan-price--alt">
										Y luego, $9.99/mes
									</span>
								</p>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
		</div>
	</div>
	<div class="row" ng-show="isSpanish">
		<div class="col-md-10 col-md-offset-1" style="padding:0;">
			<p style="font-size:16px; text-align:center;">Constantemente mejoramos y ampliamos los planes de servicios de Iris. Por favor, visite IrisByLowes.com para ver la información más
			actualizada acerca de los planes y todos los términos y condiciones.<br/> Se necesita una conexión a Internet de banda ancha para la plataforma de Iris. Se pueden aplicar las tarifas estándares de los proveedores y por el uso de los teléfonos o mensajes de texto. El servicio básico limitado es gratis. Se pueden aplicar cobros adicionales.</p>
		</div>
	</div>
</div>
</div>