<div class="background {{bodyClass}}" >
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>Basic service is free. Upgrade to Premium for just <sup style="top:-.35em; font-size:65%;">$</sup>9.99 a month.</h1>
				<p>Choose from two levels of plans. The Basic Plan is free and allows you to control your devices from your iris app. The Premium Plan provides advanced ways to monitor and control your home. It's free for the first two months then $9.99 a month (plus applicable taxes) with no contract.</p>
				<p class="details">For more information on plans and additional services, visit irisbylowes.com</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<img src="../images/serviceChart.png" alt="Service Chart">
			</div>
		</div>
	</div>
</div>