<div class="hotspot" ng-class="{active : isSelected(hotspot)}" >
<img src="images/cando/Hotspot-Animation_02.gif" height="90" width="91" ng-click="setMaster(hotspot)" rel:animated_src="images/cando/{{hotspot.icon}}.png" rel:auto_play="0">

<div class="description" ng-class="{ left : hotspot.position == 'left', topRight : hotspot.position == 'topRight'}" ng-click="setMaster()"><img ng-src="images/cando/{{hotspot.icon}}.png" alt="Icon" >
<h3>{{hotspot.title}}</h3>
<p>{{hotspot.description}}</p>
</div>
</div>